# Shared
PROJECT_NAME=FlashShield

# Origin / destination chain rpc
ETHEREUM_SEPOLIA_RPC_URL=
BASE_SEPOLIA_RPC_URL=

# Reactive
REACTIVE_RPC_URL=
REACTIVE_CHAIN_ID=
REACTIVE_CALLBACK_PROXY=

# Deployers
DEPLOYER_PRIVATE_KEY=
ORIGIN_CHAIN_ID=11155111
DESTINATION_CHAIN_ID=84532

# Existing or deployed contract addresses
POSITION_RISK_SIMULATOR_ADDRESS=
PROTECTION_EXECUTOR_ADDRESS=
REACTIVE_PROTECTION_ADDRESS=

# Reactive callback validation
EXPECTED_RVM_ID=

# Frontend public config
NEXT_PUBLIC_ORIGIN_CHAIN_ID=11155111
NEXT_PUBLIC_DESTINATION_CHAIN_ID=84532
NEXT_PUBLIC_POSITION_RISK_SIMULATOR_ADDRESS=
NEXT_PUBLIC_PROTECTION_EXECUTOR_ADDRESS=
NEXT_PUBLIC_REACTIVE_PROTECTION_ADDRESS=

